html{
    height: 100vh;
    margin : 0;
}

body{
    height: 100vh;
    min-width: 1024px;
    margin : 0;
    position: relative;
}

.routerContainer{
    height: 100vh;
    margin : 0;
}

.preRouterContainer{
    margin : 0;
    height: 100vh;
}