html{
    height: 100%;
    margin : 0;
    min-width: 1024px;
}

body{
    height: 100%;
    margin : 0;
}

#root{
    height: 100%;
    margin : 0;
    position: relative;
    font-family: 'Comfortaa', cursive;
}

.routerContainer{
    height: 100%;
    margin : 0;
}

.preRouterContainer{
    margin : 0;
    height: 100%;
}