.calenderDateLowerEventContainer{
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow:hidden;
}

.calenderDateLowerEventContainer > button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 4.5rem;
    right: 1.2rem;
    color: white;
}

#meetingsButton{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#allDayButton{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.eventSelectorContainer{
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3,1fr);
}   

.eventSelectorContainer > button{
    border: none;
    background: #336daa;
    color: white;
    font-size: 1rem;
}

.eventSelectorContainer > button:hover,.eventSelectorContainer > button:focus {
    background: #285585;
    font-size: 1.25rem;
    outline:none;
}

.eventSelectorContainer > .active >span{
    padding-bottom: 0.3rem;
    font-size: 1.25rem;
    border-bottom: 2px solid white;
}

.emptyHeadingContainer{
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.allDayContainer,.timedContainer,.meetingContainer,.innerEventContainer{
    overflow-y: hidden;
    box-sizing: border-box;
    height: 100%;
}

.CardGroup{
    cursor: pointer;
    box-sizing: border-box;
    overflow-y:auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12rem,1fr));
    grid-gap:0.5rem;
    padding: 0.25rem;
}

.allDayCard,.stry,.InProgress,.Finished,.OverDue{
    padding-left: 0.1rem;
    background: #336daa;
    border-radius: 5px;
    color: white;
    min-height: 14.43rem;
}

.InProgress{
    background: #336daa;
}

.Finished{
    background: #28a745;
}

.OverDue,.Urgent{
    background: #aa212d;
}

.High{
    background: #eb8628;;
}

.Medium{
    background: #cbce0e;
}

.Low{
    background: #5a9c04;
}

.OnHold{
    background: #14aa91;
}

.InProgress:hover,.InProgress:active{
    background: #285585;
}

.Finished:hover,.Finished:active{
    background: #19702d;
}

.OverDue:hover,.OverDue:active,.Urgent:hover,.Urgent:active{
    background: #6d141b;
}

.High:hover,.High:active{
    background: #b96b22;
}

.Medium:hover,.Medium:active{
    background: #aeb10d;
}

.Low:hover,.Low:active{
    background: #3e6b02;
}

.OnHold:hover,.OnHold:active{
    background: #107e6b;
}

.allDayCard:hover,.allDayCard:active{
    background: #285585;
    color: white;
}

.finished,.YettoStart,.CurrentlyActive{
    min-height: 14.375rem;
}

.finished{
    padding-left: 0.1rem;
    border-radius: 5px;
    background: #28a745;
    color: white;
}

.finished:active,.finished:hover{
    background: #19702d;
    color: white;
}

.YettoStart{
    padding-left: 0.1rem;
    border-radius: 5px;
    background: #ffbb00;
    color: white;
}

.YettoStart:active,.YettoStart:hover{
    background:#b19600;
    color: white;
}

.CurrentlyActive{
    position: relative;
    padding-left: 0.1rem;
    border-radius: 5px;
    background: #336daa;
    color: white; 
}

.CurrentlyActive:active,.CurrentlyActive:hover{
    background:#285585;
    color: white;
}

.cardTitle,.scheduledCardTitle{
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0px;
    margin-bottom: 0.2rem;
    word-wrap: break-word;
}

.creator{
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0px;
    margin-bottom: 0.3rem;  
}

.cardDescription,.scheduledCardDescription,.meetingDescription{
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    margin: 0px;
    margin-bottom: 0.2rem;
    min-height: 9rem;
}

.meetingDescription{
    -webkit-line-clamp: 5;
    min-height: 8rem;
    line-height: 1.58rem;
}

.scheduledCardDescription{
    -webkit-line-clamp: 6;
    margin-bottom: 0.4rem;
}

.startMeetingContainer{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
}

.startMeeting{
    background:transparent;
    border: none;
    border-radius: 50%;
    outline: none !important;
    position: absolute;
    right:0.25rem;
    bottom:0.25rem;
}

.openMeeting{
    height: 2rem;
    width: 2rem;
}

.openMeeting:hover{
    height: 2.35rem;
    width: 2.35rem;
}

.timing,.status{
    display: inline-block;
    margin-top: 0.80rem;
    margin-bottom: 0.45rem;
}

.addEventAttributes{
    width: 28rem;
}

#eventTypeDropDown,#stateTime,#endTime{
    margin-bottom: 1rem;
}

#title,#description{
    width: 28rem;
    margin-bottom: 1rem;
}

.editEventButton{
    width: 100%;
    margin-bottom: 1rem;
    color: white !important;
}

.deleteEventButton{
    width: 100%;
}