.highLightContainer{
    margin: 0px;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.hightlightedStories,.hightlightedEvents,.MissedConversation{
    box-sizing: border-box;
    border-radius: 5px;
    height: 32.5%;
    overflow: hidden;
    margin: 0.25rem 0;
}


.MissedConversation,.hightlightedEvents,.hightlightedStories{
    border: 1px solid #1a3b9e;
}

.hightlightedStories h5,.hightlightedEvents h5,.MissedConversation h5{
    text-align: center;
    background: #1a3b9e;
    color: white;
}

.highlightsContainer{
    padding-bottom: 1.5rem;
    overflow-y: auto;
    height: 97%;
}

.stories{
    cursor: pointer;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 5px;
    color: white;
}

.Later,.Active,.Today,.missedConvo{
    cursor: pointer;
    color: white;
    padding: 0.25rem;
    margin: 0.25rem;
    background: #d36c0b;
    border-radius: 5px;
}
.Today{
    background: #59dd6b;
}

.Active,.stories,.missedConvo{
    background: #597add;
}

.Active:hover{
    background: #3c5396;
}

.Today:hover{
    background: #31793b;
}

.Later:hover{
    background: #b85d09;
}

@media screen and (max-width: 1450px){ 
    .hightlightedStories h5,.hightlightedEvents h5,.MissedConversation h5{
        font-size: 1rem !important;
    }
    .Later,.Active,.Today,.missedConvo,.stories{
        font-size: 80% !important;
    }
}