.boardContainer{
    width: 100%;
    height: 100%;
    margin: 0px;  
    background: linear-gradient(to right, #000000, #434343);
}

.boardContainer > div{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}