.landingPageContainer{
    height : 35%;
    font-family: 'Dosis', sans-serif;
}

.landingTitle,.landingSubtitle{
    color:white;
    margin-top: 3%;
    text-shadow: 2px 2px 4px #000000;
}

.landingTitle{
    font-size: 3rem;
    font-weight: 700;
}

.landingSubtitle{
    font-size: 1.3rem;
    font-weight: 500;
}

.titleContainer{
    text-align: center;
}

.signUpButton,.loginButton{ 
    margin: 3%;
    border:none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-size: 1.2rem;
    color: white;
}

.signUpButton:active{
    background-color: rgb(253, 90, 71);
    cursor: pointer;
    transform: scale(0.9);
}

.loginButton:active{
    background-color: rgb(27, 184, 231);
    cursor: pointer;
    transform: scale(0.9);
}

.signUpButton:hover{ 
    background-color: rgb(253, 90, 71);
    cursor: pointer;
}

.loginButton:hover{
    background-color: rgb(27, 184, 231);
    cursor: pointer;
}

.signUpButton{
    background-color: rgb(248, 111, 96);
    outline: none;
    font-weight: 400;
}

.loginButton{
    background-color: rgb(77, 191, 226);
    outline: none;
    font-weight: 400;
}

.buttonContainer{
    display: flex;
    width: 300px;
    margin-left: 24%;
    margin-top : 6%;
    justify-content: space-between;
}

.backgroundDiv{
    background-image: url("../Images/landingPageImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin : 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}