.calenderDateLowerNotesContainer{
    height: 100%;
    overflow: hidden;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    position: relative;
    background:#336daa;
    border-radius: 5px;
}

.displayFormButton{
    width: 3rem;
    height: 3rem;
    bottom: 0.75rem;
    right: 1.2rem;
    position: absolute;
    border: 1px solid #28a745;
    border-radius: 50%;
    color: #28a745;
    background: white;
    font-size: 1.25rem;
    border: none;
}


.displayFormButton:hover,.displayFormButton:active,.displayFormButton:focus{
    color: white;
    background: #28a745;
    outline: none;
    box-shadow: 0px 0px 20px #28a745;
}

.notesJSXContainer{
    height: 100%;
    overflow-x: auto;
    padding: 0.5rem;
}

.notesContainer{
    background:transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0.5rem 0px;
}

.notesContainer:hover,.notesContainer:active{
    color: #336daa;
    border: 1px solid white;
    background: white;
}

.notesDescription{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.emptyNotesContainer{
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.5rem;
}