.postAuthContainer{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0575e6, #021b79);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
}

.postAuthForm{
    box-sizing: border-box;
    padding: 5rem;
}

.postAuthForm > div{
    display: inline-block;
    box-sizing: border-box;
    border:none;
    border-radius: 7px;
    background-color: white;   
    padding: 1rem;
}

.profilePictureButton{
    position: relative;
    border:none;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.profilePhoto{
    position: absolute;
    top: 0;
    left: 0;
}

.postAuthAttributes{
    width: 20rem;
}

.postAuthButton{
    border: 1px solid #007bff;
    background-color: rgba(0,0,0,0);
    color: #007bff;
}

.postAuthButton:hover,.postAuthButton:active{
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
}