.upperPostLoginContainer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.lowerPostLoginContainer{
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

.mainContainer{
    width: 100% !important;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

@media screen and (min-width: 1500px){
    .lowerPostLoginContainer{
        grid-template-columns: 4.9fr 1.1fr;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1500px){
    .lowerPostLoginContainer{
        grid-template-columns: 4.8fr 1.2fr;
    }
}

@media screen and (max-width: 1400px){
    .lowerPostLoginContainer{
        grid-template-columns: 4.65fr 1.35fr;
    }
}