.gridContainer{
    display: flex;
    flex-direction: column;
}

.cancel{
    flex-basis: 10%;
    width: 100%;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    margin-bottom: 0.75rem;
}

.pictureContainer{
    flex-basis: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.photo{
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    width: 200px;
    height: 200px;
}

