.projectDashboardLower{
    box-sizing: border-box;
    position: relative;
    padding: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.innerEmptyContainer{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.innerContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(18.5rem,1fr));
    grid-gap:0.5rem;
}

#InProgress,#Finished,#OnHold,#OverDue{
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem;
    border-radius: 7px;
    color: white;
}

#InProgress{
    background: #336daa;
}

#Finished{
    background: #28a745;
}

#OnHold{
    background: #14aa91;
}

#OverDue{
    background: #aa212d;
}

#InProgress:hover,#InProgress:active{
    background: #285585;
}

#Finished:hover,#Finished:active{
    background: #19702d;
}

#OnHold:hover,#OnHold:active{
    background: #107e6b;
}

#OverDue:hover,#OverDue:active{
    background: #6d141b;
}

#projectDescription{
    word-wrap: break-word;
    min-height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#projectTitle{
    max-width: 100%;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.profilePicture{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    margin: 0px 0.1rem;
}

.openEditModal{
    position: absolute;
    bottom: 1rem;
    right: 0.25rem;
    width: 2rem;
    height: 2rem;
    transition: width 0.1s,height 0.1s;
}

.openEditModal:hover{
    height: 2.25rem;
    width: 2.25rem;
    transition: width 0.2s,height 0.2s;
}

.openEditModal:active{
    height: 2.1rem;
    width: 2.1rem;
}

.openAddModal{
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    color:white;
}

.noProjectTitle{
    color: white;
    text-shadow: 0px 0px 10px black;
}

.contriCancel{
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    border: none;
    padding: none;
    background: transparent;
}

.contriCancel:focus{
    outline: none;
}


.contriCancel img{
    height: 1.5rem;
    width: 1.5rem;
}

.contributorList{
    margin-right: 1rem;
}

.moreContri{
    cursor: pointer;
}