.infoCancel{
    position: absolute;
    border: none;
    border-radius: 50%;
    margin-bottom: 0.75rem;
    top: 2px;
    right: 0.6rem;
    background: transparent;
}

.infoCancel img{
    height: 1.5rem;
    width: 1.5rem;
}

.infoCancel img:hover{
    height: 1.7rem;
    width: 1.7rem;
}

.infoCancel img:active{
    height: 1.6rem;
    width: 1.6rem;
}

.infoCancel:focus{
    outline: none;
}


.radialGraphContainer{
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    padding-bottom: 0.5rem;
}