.projectDashboard{
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-rows: 0.75fr 4.25fr;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.projectDashboardUpper .filterInnerContainer,.projectDashboardUpper .filterContainer{
    box-sizing: inherit;
    display:flex;
    justify-content: center;
}

.projectDashboardUpper .filterContainer{
    padding: 0.75rem;
    height: 100%;
    flex-direction: column;
}

.projectDashboardUpper .filterInnerContainer input,.projectDashboardUpper .filterInnerContainer select{
    box-sizing: content-box;
    height: 2rem;
    padding: 1px;
    border: 2px solid black;
    margin: 0px;
}

.projectDashboardUpper .filterInnerContainer input{
    margin-left: 2rem;
    max-width: 900px;
}

@media screen and (max-width: 1400px){
    .projectDashboard{
        grid-template-rows: 0.5fr 4.5fr;
    }

    .projectDashboardUpper .filterInnerContainer input,.projectDashboardUpper .filterInnerContainer select{
        height: 1.5rem;
    }

    .projectDashboardUpper {
        padding: 0.75rem 1.2rem;
    }
}