.parentSchedulerContainer{
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;
}

.calenderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calenderUpperBlock{
    width: 100%;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.calenderUpperInnerBlock{
    display: flex;
    justify-content: center;
}

.previous,.next{
    border: 1px solid #DE6EA1;
    color: #DE6EA1;
    border-radius: 50%;
    width: 35px !important;
    height: 35px !important;
    transition: background-color 0.5s,color 0.5s;
}

.previous:hover,.next:hover{
    border: none;
    color: white;
    background-color: #DE6EA1;
    transition: background-color 0.5s,color 0.5s;
}

.calenderDateHeading{
    width: 15%;
    font-weight: 500;
    height: 35px;
    min-width: 142px;
    text-align: center;
    padding: 6px 0;
    color: #512989;
    font-size: large;
}

.calenderLowerBlock{
    width: 100%;
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.daysContainer{
    display: flex;
    margin-left: 1%;
    margin-bottom: 0.14%;
}

.calenderHeader{
    border: 1px solid #502989;
    border-radius: 5px;
    color: #502989;
    width: 14%;
    text-align: center;
    margin-left: 0.14%;
}

.weekContainer{
    display: flex;
    min-height: 105px;
    height: 16%;
    margin-left: 1%;
    margin-bottom: 0.14%;
}

.calenderButton,.calenderButtonHidden{
    width: 14%;
    height: 100%;
    margin-left: 0.14%;
    border: 1px solid #7C40A9;
    color: #7C40A9;
    border-radius: 5px;
    background-color: white;
    transition: background-color 1s,color 1s;
    font-size: x-large;
}

.calenderButton:hover{
    border: none;
    color: white; 
    background-color: #7C40A9;
    transition: background-color 1s,color 1s;
}

.calenderButtonHidden{
    visibility: hidden;    
}

@media screen and (min-width: 1280px) and (max-width: 1366px){
    .weekContainer{
        height: 15%;
    }
    .calenderUpperBlock{
        flex-basis: 6%;
    }
}

@media screen and (min-width: 1150px) and (max-width: 1280px){
    .weekContainer{
        height: 14%;
    }
    .calenderUpperBlock{
        flex-basis: 6.5%;
    }
    .calenderDateHeading{
        font-size: medium;
    }
    .calenderButton{
        font-size: large;
    }
}

@media screen and (max-width: 1150px){
    .weekContainer{
        height: 13%;
    }
    .calenderUpperBlock{
        flex-basis: 7%;
    }
    .calenderDateHeading,.calenderButton{
        font-size: medium;
    }
}

