.parentSchedulerContainer{
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    padding: 0.75rem;
}

.calenderContainer{
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 4.5fr;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.calenderUpperBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calenderUpperInnerBlock{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.calenderDateHeading{
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    margin: 0px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.calenderUpperInnerBlock button{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    color: white;
}

.calenderLowerBlock{
    display: grid;
    grid-template-rows: 1rem repeat(6,1fr);
    grid-gap: 0.5rem;
}

.daysContainer,.weekContainer{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
}

.calenderButton,.calenderButtonHidden{
    min-width: 6rem;
    min-height: 4rem;
    background: none;
    border-radius: 3%;
    border: 1px solid #55a630;
    color: white; 
    background: #55a630;
    text-shadow: 0px 0px 1px white;
    font-size: 1rem;
}

.currentDay{
    background: #007521;
    border: 1px solid #007521;
    color:white;
    text-shadow: 0px 0px 1px white;
    outline:none;
    font-size: 1rem;
}

.calenderHeader{
    color: white;
    text-shadow: 0px 0px 5px black;
}


.calenderButton:hover,.calenderButtonHidden:hover,.calenderButton:active,.calenderButtonHidden:active,.calenderButton:focus,.calenderButtonHidden:focus,.currentDay:hover,.currentDay:active,.currentDay:focus{
    background: #41c702;
    border: 1px solid #41c702;
    color: white; 
    text-shadow: 0px 0px 1px white;
    outline:#41c702;
    font-size: 1.25rem;
}

.calenderButtonHidden{
    visibility: hidden;
}

@media screen and (max-width: 1400px){
    .calenderContainer{
        grid-template-rows: 0.35fr 4.65fr;
    }

    .calenderDateHeading{
        font-size: 1.25rem;
    }

    .calenderUpperInnerBlock button{
        height: 2.5rem;
        width: 2.5rem;
    }
}