.suggestionBox{
   position: absolute;
   z-index: 1;
   border: none;
   border-radius: 5px;
   width: 100%;
   background: rgb(221, 227, 230);
}


.searchForm{
   position: relative;
   margin-bottom: 1rem;
}

ul {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

.suggestionBox ul li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.suggestionBox ul li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.suggestion{
    cursor: pointer;
    margin: 0px;
    box-sizing: border-box;
    padding: 0.25rem;
}

.suggestion:hover{
    background: lightblue;
    color: white;
}

.selectedProfileContainer{
    box-sizing: border-box;
    margin: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0px;
}


.suggestionProfilePic{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0.15rem;
}

.contributorList{
    display: inline-block;
}

#cancel{
    right: 0.25rem;
}
