.suggestionBox{
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 500;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    margin: 0px;
    padding:0px;
    background-color: white;
    left: 2.6%;
    top: 100%;
    width: 95%;
}

.suggestion{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.searchForm{
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0.7rem;
}


.searchBox{
    margin-bottom: 1rem;
}

.addProjectAttributes,.searchBox{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    resize: none;
}

.profilePicture{
    border: none;
    border-radius: 50%;
    margin-left: 0.3rem;
}

.profileContainer{
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 1rem;
}

.moreContri{
    font-size:1.2rem; 
    margin-left: 1rem;
}

.contributorList{
    display: flex;
    justify-content: space-evenly;
}

#addProjectButton{
    margin-left: 0.7rem;
}