.projectSetup{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 3;
}

.template{
    background-color: white;
    border-radius: 7px;
    margin:auto;
    box-shadow: 0 0 15px black;
}

.template > h5{
    text-align:center;
    margin: 0.5rem 0;
}

.buttonContainer{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#templateType{
    width: 25rem;
    box-sizing: border-box;
    margin: 1rem;
}

.templateBuilderContainer{
    position: relative;
    min-width: 25rem;
    box-sizing: border-box;
    margin: 1rem;
}

.columnName{
    box-sizing: border-box;
    width: 100%;
    margin: 0.5rem 0;
}

.columnName > span{
    cursor: pointer;
    box-sizing: border-box;
    margin : 0px;
}

#EDIT,#INFO,#REMOVE{
    vertical-align: middle;
    margin: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
}

#EDIT:hover,#INFO:hover,#REMOVE:hover{
    width: 2rem;
    height: 2rem;
}

#EDIT:active,#INFO:active,#REMOVE:active{
    width: 1.8rem;
    height: 1.8rem;
}

.templateButton,.templateBackButton,.templateAddButton,.submitTemplate{
    display: block;
    margin: 1rem auto;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color:#28a745;
    color: white;
    outline: #28a745;
}

.templateAddButton{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding:0px;
    height: 2.5rem;
    width: 2.5rem;
}

